*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #333333;
    --text-color-secondary: #888888;
    --accent-color: #54c2e7;
    --border-color: rgb(179, 179, 179);
    --card-bg: #F0F0F0;
    --active-card-bg: #acacac;
    --bg-color: #FFFFFF;
}

[data-theme=dark]{
    --text-color: #E0E0E0;
    --text-color-secondary: #c5c4c4;
    --accent-color: #4682B4;
    --card-bg: #2C2C2C;
    --active-card-bg: rgb(87, 87, 87);
    --bg-color: #1A1A1A;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}